
header {
    background-color: antiquewhite;
    color: navy; 
}

body {
color: aqua; 
    text-align: left;
}

nav {
border: 1.5px solid darkblue; 
    border-style: dotted; 
    padding: 5px;
}

h1 {
color: aqua; 
    text-align: left;
}

h2 {
color: navy; 
    text-align: left;
}

h3 {
    background-color: forestgreen
    color: cornflowerblue;
    text-align: left; 
    text-emphasis: bold; 
    }


    ul {
color: mediumpurple;
    text-align: left;
}


  </body>
</html>
