
header {
    background-color: antiquewhite;
}

body {
color: aqua; 
    text-align: left;
}

nav {
color: darkblue; 
    border: 1.5px; 
    padding: 5px;
}

h1 {
color: aqua; 
    text-align: left;
}

h2 {
color: navy; 
    text-align: left;
}

ul {
color: mediumpurple;
    text-align: left;
}


  </body>
</html>
