
header {

}

body {
background-color: white
}

nav {

}

h1 {
color: navy; 
    text-align: left;
}

h2 {
color: aqua; 
    text-align: left;
}

ul {
color: mediumorchid; 
    text-align: left;
}


  </body>
</html>
